* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: sans-serif;
  color: #fff;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.container__header-img img {
  display: block;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.container__description {
  background-color: #283e50;
  padding: 2rem 1rem 3rem 1rem;
}

.container__description h1,
.container__rules h1,
.container__game h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 3rem;
}

.container__description p {
  text-align: center;
  padding-top: 2rem;
  line-height: 1.5rem;
}

.container__rules {
  background-color: #283e50;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.rules__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0.5rem 3rem 2rem;
}

li {
  padding-bottom: 1rem;
}

li:last-child {
  padding: 0;
}

.circle,
.cross {
  position: relative;
  top: 2px;
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.rules__examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rules__examples img {
  display: block;
  width: 100%;
}

.rules__examples figcaption {
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.container__btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.container__btns--rules,
.container__btns--start,
.container__btns--homepage {
  text-align: center;
  padding: 1rem;
}

.container__btns--rules,
.container__btns--homepage {
  background-color: #1fcca4;
  border-bottom: solid 1px black;
}

.container__btns--rules:hover,
.container__btns--homepage:hover {
  background-color: #1cbb96;
}

.container__btns--start {
  background-color: #0197f6;
}

.container__btns--start:hover {
  background-color: #0090e9;
}

/*iPads & tablets*/
@media (min-width: 481px) {
  .container {
    width: 70%;
  }
}

/*laptops*/
@media (min-width: 769px) {
  .container {
    width: 60%;
  }

  .example {
    width: 47%;
  }
}

/*desktops*/
@media (min-width: 1025px) {
  .container {
    width: 40%;
  }
}

.container__game {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: 80vmin;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  align-items: center;
  height: auto;
}

.game-header__player {
  font-size: 1.3rem;
}

.game-header__btns--homepage,
.game-header__btns--restart {
  display: inline-block;
  padding: 0.3rem;
  border-radius: 4px;
}

.game-header__btns--homepage {
  background-color: #1fcca4;
}

.game-header__btns--homepage:hover {
  background-color: #1cbb96;
}

.game-header__btns--restart {
  background-color: #0197f6;
}

.game-header__btns--restart:hover {
  background-color: #0090e9;
}

.game-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  border: 1px solid #000000;
}

.cell {
  width: 10%;
  aspect-ratio: 1 / 1;
  border: 1px solid #000000;
}

.cell-content {
  background-color: #fff;
  width: 100%;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
  background-size: 75%;
  /*  transition: background-size 0.15s; nevím, proč nefunguje :( */
}

.cell-content:hover {
  opacity: 0.7;
  cursor: pointer;
}

.board__field--circle,
.board__field--cross {
  background-repeat: no-repeat;
  background-position: center;
}

.board__field--circle {
  background-image: url('icons/circle.svg');
}

.board__field--cross {
  background-image: url('icons/cross.svg');
}
