* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  color: #fff;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
}

/*main container*/
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.header-image > img {
  display: block;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.description {
  background-color: #283e50;
  padding: 2rem 1rem 2rem 1rem;
}

.description h1,
.game-container h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 3rem;
}

.description p {
  text-align: center;
  padding-top: 2rem;
  line-height: 1.5rem;
}

/*rule page*/
.rules {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.rule-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0.5rem 3rem 2rem;
}

li {
  padding-bottom: 1rem;
}

li:last-child {
  padding: 0;
}

.circle,
.cross {
  position: relative;
  top: 2px;
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples img {
  display: block;
  width: 100%;
}

.examples figcaption {
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
/*end of rule page*/

/*buttons*/
.description.btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.rules-btn,
.main-page {
  background-color: #1fcca4;
  border-bottom: solid 1px black;
}

.rules-btn:hover,
.main-page:hover {
  background-color: #1cbb96;
}

.start-btn {
  background-color: #0197f6;
}

.start-btn:hover {
  background-color: #0090e9;
}

.rules-btn,
.start-btn,
.main-page {
  text-align: center;
  padding: 1rem;
}
/*end of buttons*/
/*end of main container*/

/*responsivity*/
/*iPads & tablets*/
@media (min-width: 481px) {
  .container {
    width: 70%;
  }
}

/*laptops*/
@media (min-width: 769px) {
  .container {
    width: 60%;
  }

  .example1,
  .example3,
  .example5 {
    width: 50%;
    padding-right: 0.5rem;
  }

  .example2,
  .example4,
  .example6 {
    width: 50%;
    padding-left: 0.5rem;
  }
}

/*desktops*/
@media (min-width: 1025px) {
  .container {
    width: 40%;
  }
}
/*end of responsivity*/

/*game*/

/*main container*/
.game-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 5rem;
  max-width: 80vmin;
}

/*panel with players and buttons*/
.game-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  align-items: center;
}

.home-btn,
.restart-btn {
  padding: 0.5rem;
  border-radius: 2px;
}

.game-panel .home-btn {
  background-color: #1cbb96;
}

.game-panel .restart-btn {
  background-color: #0197f6;
}

/*game*/
.game-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #000000;
}

.game-table .cell {
  width: 10%;
  aspect-ratio: 1 / 1;
  border: 1px solid #000000;
}

.cell-content {
  background-color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
